html,
body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  -webkit-user-select: none;

}

.cleafix::after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  width: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}
input:active {
  outline: none;
  border: none;
}
button {
  border: none;
}

button:visited {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b9b9b9;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Heiti SC", "SimSun";
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b9b9b9;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Heiti SC", "SimSun";
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b9b9b9;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Heiti SC", "SimSun";
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b9b9b9;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Heiti SC", "SimSun";
}