<template>
  <div class="wrapper">
    <div class="header-image">
      <img src="~@/assets/images/header_ad.png" alt="" />
    </div>
    <p class="number">已有<span>{{num}}</span>人成功领取此红包</p>
    <div class="form-box">
      <div class="form-item">
        <input type="number" v-model="phone" placeholder="请输入手机号" />
      </div>
      <div class="form-item form-item-bottom">
        <input type="number" v-model="code" placeholder="请输入验证码" />
        <button 
          class="code-btn"
          @click="gotCode"
          :disabled="disabledCodeBtn"
          :class="{'code-btn-active': !disabledCodeBtn}"
        >{{codeName}}</button>
      </div>
      <button class="form-btn" @click="submitData">接受邀请领红包</button>
    </div>
    <div class="bg-space"></div>
    <div class="content">
      <div class="content-title">
        <span></span>
        <i></i>
        <strong>领券规则</strong>
        <i></i>
        <span></span>
      </div>
      <ul class="content-li">
        <li>1，38元新人红包仅限未使用过掌购便利的用户领取;</li>
        <li>
          2，每位新用户仅限领取一次，相同的注册手机号,收货手机号，支付账号，微信号，硬件设备和多次相同地址等其他均可判定为同一用户的情形均视为同一用户;
        </li>
        <li>
          3，被邀请人手机号在被邀请前以作为其他订单收货人完成订单的，将不视为新用户;
        </li>
        <li>4，掌购便利保留法律允许范围内的活动解释权;</li>
      </ul>
    </div>
    <div class="toast" v-show="visiable">{{message}}</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch} from 'vue-property-decorator';
import http from '../axios/http'
@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
  num: number = 0
  info: any = {}
  phone: any = ''
  code: any = ''
  codeName: string = '获取验证码'
  codeCount: number = 60
  codeTimer: any = null
  disabledCodeBtn: boolean = true
  disabledSubmitBtn: boolean = false
  visiable: boolean = false
  message: any = ''
  timeout: any = null
  @Watch('visiable',{ immediate: true, deep: true })
  onVisiableChanged (val: boolean, oldVal: boolean) {
    if (val) {
      if (this.timeout) {
        clearTimeout(this.timeout)
      }
      this.timeout = setTimeout(() => {
        this.visiable = false;
        this.message = ''
      }, 2000);
    }
  }
  @Watch('phone',{ immediate: true, deep: true })
  onPhoneChanged (val: any, oldVal: any) {
    if (!/^1[3456789]\d{9}$/.test(val)) {
      if (val.length > 11) {
        this.phone = this.phone.substring(0, 11);
      } else {
        this.code = '';
      }
      this.disabledCodeBtn = true;
    } else {
      this.disabledCodeBtn = false;
    }
  }
  created (): void {
    let openid = this.getQueryString('openid');
    if (openid) {
      this.gotUserInfo(openid)
    } else {
      this.visiable = true;
      this.message = '用户openid不存在'
    }
  }
  beforeDestroy (): void {
    clearInterval(this.codeTimer)
    clearInterval(this.timeout)
  }
  gotUserInfo (openid:any): void {
    //获取验证码
    http.post('/wxshare/usermsg.do', {
      openid: openid
    }).then((result:any) => {
      if(result.status === 1) {
        this.info = result.data;
        this.num = this.info.num
      } else {
        this.visiable = true;
        this.message = result.msg
      }
    }).catch((error: any)=> {
      this.visiable = true;
      this.message = error;
    });
  }
  gotCode (): void {
    //获取验证码
    http.post('/wxshare/sendcode.do', {
      phone: this.phone
    }).then((result:any) => {
      if(result.status === 1) {
        //验证码倒计时
        this.countDown();
      } else {
        this.visiable = true;
        this.message = result.msg
      }
    }).catch((error: any)=> {
      this.visiable = true;
      this.message = error;
    });
  }
  submitData (): void {
    if (!(/^1[3456789]\d{9}$/.test(this.phone))) {
      this.visiable = true;
      this.message = '手机号码不合法';
    } else if (!this.code) {
      this.visiable = true;
      this.message = '验证码不能为空';
    } else {
      this.checkCode();
    }
  };
  checkCode (): void {
    this.disabledSubmitBtn = true;
    this.resetCode(); //重置获取验证码按钮
    http.post('/wxshare/acceptinvitation.do', {
      phone: this.phone,
      code: this.code,
      wxname: this.info.nickname,
      wximage: this.info.headimgurl,
      openid: this.info.openid,
      userid: this.info.state
    }).then((result: any) => {
      if(result.status === 1) {
        //验证码验证成功
        window.location.href = 'http://zhanggou.zh2zh.com/noshop_file/app.html'
      } else {
        //验证码错误
        this.visiable = true;
        this.message = result.msg;
      }
      this.disabledSubmitBtn = false;
    }).catch((error: any)=> {
      this.visiable = true;
      this.message = error;
    });
  }
  countDown (): void {
    this.disabledCodeBtn = true;
    this.codeName = '已获取'+this.codeCount+'s';
    clearInterval(this.codeTimer);
    this.codeTimer = setInterval(() => {
      this.codeCount--;
      this.codeName = '已获取'+this.codeCount+'s';
      if (this.codeCount <= 0) {
        this.resetCode();
      }
    },1000)
  }
  resetCode (): void {
    clearInterval(this.codeTimer);
    this.codeCount = 60;
    this.disabledCodeBtn = false;
    this.codeName = '获取验证码';
  }
  getQueryString (name:string): any {
    let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    let search = window.location.search;
    var r = null;
    if (search) {
      r = search.substring(1).match(reg);
    }
    if (r!=null) {
      return r[2];
    }
    return null;
  }
  handeClick ():any {
    this.$toast('6666')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.wrapper {
  width: 100%;
  .header-image {
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .number {
    text-align: center;
    line-height: 32px;
    height: 32px;
    font-size: 30px;
    margin: 44px auto 56px;
    color: #333;
    span {
      color: #fb3b3b;
    }
  }
  .form-box {
    width: 100%;
    padding: 0 64px 80px;
    box-sizing: border-box;
    .form-item {
      width: 100%;
      height: 98px;
      border-radius: 49px;
      margin-bottom: 30px;
      position: relative;
      border: 1px solid #b9b9b9;
      box-sizing: border-box;
      padding: 10px 0;
      input {
        display: block;
        width: 100%;
        height: 78px;
        border-radius: 49px;
        box-sizing: border-box;
        padding: 24px 185px 24px 40px;
        color: #333;
        font-size: 28px;
        border: none;
        outline: none;
      }
      .code-btn {
        position: absolute;
        width: 170px;
        height: 60px;
        right: 15px;
        top: 50%;
        margin-top: -30px;
        color: #fff;
        border-radius: 30px;
        text-align: center;
        font-size: 26px;
        background-color: #01a862;
        cursor: pointer;
        opacity: 0.5;
        &.code-btn-active {
          opacity: 1;
        }
      }
      &.form-item-bottom {
        margin-bottom: 60px;
      }
    }
    .form-btn {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 86px;
      line-height: 86px;
      background: #01a862;
      color: #fff;
      border-radius: 43px;
      font-size: 30px;
      letter-spacing: 3px;
      text-align: center;
    }
  }
  .bg-space {
    width: 100%;
    height: 20px;
    background: #f5f5f5;
  }
  .content {
    width: 100%;
    box-sizing: border-box;
    padding: 55px 64px;
    .content-title {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      margin-bottom: 55px;
      box-sizing: border-box;
      padding: 0 40px;
      span {
        flex: 1;
        display: block;
        height: 4px;
        background: #373534;
        border-radius: 2px;
        box-shadow: 1px 1px 2px #373534;
      }
      i {
        display: block;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        // background-image: url('~@/assets/images/dian.png');
        margin: 0 10px;
        background: #373534;
        transform: rotate(45deg);
      }
      strong {
        display: block;
        height: 50px;
        line-height: 50px;
        color: #343435;
        font-size: 50px;
        margin: 0 16px;
      }
    }
    .content-li {
      li {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 16px;
        color: #666;
      }
    }
  }
  .toast {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    width: 400px;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0 , 0.6);
    color: #fff;
    letter-spacing: 3px;
    z-index: 9;
  }
}
</style>
