<template>
  <div id="app">
    <Index :msg="msg"></Index>
  </div>
</template>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import Index from '@/components/index.vue'; // @ is an alias to /src
  @Component({
    components: {
      Index
    }
  })
  export default class APP extends Vue {
    msg: string = '掌腾'
  }
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  
}
</style>
